<div id="home-goal" class="section engine-stub-section" aria-hidden="true">
  <div id="home-goal-context" style="display:none">
    <div id="home-goal-context-inner">
      <div id="home-goal-title"></div>
      <div id="home-goal-texts"></div>
    </div>
  </div>
  <div id="home-goal-tunnel-title" class="engine-stub" hidden><div class="home-goal-tunnel-title-line"></div></div>
  <div id="home-goal-image-in-outer" class="engine-stub" hidden>
    <div id="home-goal-image-in-inner"><div id="home-goal-image-in"></div></div>
  </div>
  <div id="home-goal-image-out-outer" class="engine-stub" hidden>
    <div id="home-goal-image-out-inner"><div id="home-goal-image-out"></div></div>
  </div>
</div>
