<div id="home-featured" class="section">
  <div id="home-cyprus-title-top">
    <div id="home-cyprus-title-wrapper">
      <h4 id="home-cyprus-title">{{cyprus.title}}</h4>
    </div>
    <div id="home-cyprus-disclaimer">{{cyprus.disclaimer}}</div>
  </div>
  <div class="project-list">
    <a class="project-item project-type-website" href="https://daerdree.bar/" data-id="oryzo_ai" data-color-bg="#1a1411" data-color-text="#ffedd7" data-color-shadow="0.9">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.oryzo_ai.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.oryzo_ai.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://walmgres-8c8z.vercel.app/" data-id="devin_ai" data-color-bg="#121414" data-color-text="#ffffff" data-color-shadow="0.9">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.devin_ai.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.devin_ai.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://lamaison.soshallitbe.cyou/" data-id="lamaison" data-color-bg="#F5E9DA" data-color-text="#2a1a10" data-color-shadow="0.9">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.lamaison.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.lamaison.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://agios.soshallitbe.cyou/en" data-id="agios" data-color-bg="#2B2B1F" data-color-text="#F0ECD8" data-color-shadow="0.9">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.agios.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.agios.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://www.instagram.com/nicks_coffee_bike/" data-id="nicks_coffee_bike" data-color-bg="#2A1E16" data-color-text="#F2E4D5" data-color-shadow="0.85">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.nicks_coffee_bike.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.nicks_coffee_bike.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://leondiana.soshallitbe.cyou/en" data-id="leondiana" data-color-bg="#EAD9C4" data-color-text="#1a1a1a" data-color-shadow="0.9">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.leondiana.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.leondiana.name}}</div>
        </div>
      </div>
    </a>
  </div>
  <div id="home-featured-title-top">
    <div id="home-featured-title-wrapper">
      <h4 id="home-featured-title">{{featured.title}}</h4>
    </div>
    <div id="home-featured-disclaimer">{{featured.disclaimer}}</div>
  </div>
  <div class="project-list">
    <a class="project-item project-type-website" href="https://iksoft.pro" data-id="porsche_dream_machine" data-color-bg="#EFD5D3" data-color-text="#000000" data-color-shadow="0.95">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.porsche_dream_machine.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.porsche_dream_machine.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://dastorkon.soshallitbe.cyou" data-id="of_the_oak" data-color-bg="#111a13" data-color-text="#d9f3de" data-color-shadow="0.9">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.of_the_oak.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.of_the_oak.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://karagat.soshallitbe.cyou/" data-id="karagat" data-color-bg="#1F2A24" data-color-text="#E8F0EA" data-color-shadow="0.9">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.karagat.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.karagat.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://careyour.pet/" data-id="spatial_fusion" data-color-bg="#D6C8ED" data-color-text="#000000" data-color-shadow="0.95">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.spatial_fusion.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.spatial_fusion.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://proffmusic.shop/" data-id="spaace" data-color-bg="#010a16" data-color-text="#ffece2" data-color-shadow="0.85">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.spaace.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.spaace.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://el-imperia.shop/" data-id="ddd_2024" data-color-bg="#261c46" data-color-text="#ffffff" data-color-shadow="0.95">
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.ddd_2024.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.ddd_2024.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://gardenhouse.iksoft.pro" data-id="choo_choo_world" data-wip data-color-bg="#E8EEF8" data-color-text="#000000" data-color-shadow="0.95">
      <span class="project-item-wip-badge">{{featured.wip}}</span>
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.choo_choo_world.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.choo_choo_world.name}}</div>
        </div>
      </div>
    </a>
    <a class="project-item project-type-website" href="https://bimark.iksoft.pro" data-id="soda_experience" data-wip data-color-bg="#E1E2E4" data-color-text="#000000" data-color-shadow="0.85">
      <span class="project-item-wip-badge">{{featured.wip}}</span>
      <div class="project-item-main">
        <div class="project-item-image"></div>
      </div>
      <div class="project-item-footer">
        <div class="project-item-line-1">{{featured.projects.soda_experience.tags}}</div>
        <div class="project-item-line-2">
          <div class="project-item-line-2-icon"></div>
          <div class="project-item-line-2-inner">{{featured.projects.soda_experience.name}}</div>
        </div>
      </div>
    </a>
  </div>
  <a id="home-featured-cta" class="engine-stub" hidden aria-hidden="true" href="#" tabindex="-1"></a>
</div>
