<div id="home-hero" class="section engine-stub-section">
  <h1 id="home-hero-title"></h1>
  <div id="home-hero-visual-container"></div>
  <div id="home-hero-scroll-container">
    <div id="home-hero-scroll-container-crosses">
      <div class="home-hero-scroll-container-cross"></div>
    </div>
    <div id="home-hero-scroll"></div>
  </div>
</div>
<div id="home-featured" class="section engine-stub-section">
  <div id="home-featured-title-top">
    <div id="home-featured-title-wrapper">
      <h4 id="home-featured-title"></h4>
    </div>
    <div id="home-featured-disclaimer"></div>
  </div>
  <div class="project-list"></div>
  <a id="home-featured-cta" class="engine-stub" hidden href="#" tabindex="-1"></a>
</div>
